@{
    ViewData["Title"] = "Página inicial";
}
<div img class="background">
<h1 class="text-center">
    <header>
        <h1 class="display-4"> Bem vindo(a) Gamer!</h1>
        <h2>Cadastre seus jogos finalizados e dê um breve resumo.</h2>
    </header>
    <h2>
    <link rel="stylesheet" href="./css/style.css">
    <h1><img class="caixa" src="~/Img/controle.png" alt="Controle de Super Nintendo"></h1>
    </h2>
</h1>
</div>