@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    
    <h1 class="display-4">Gaming Library.</h1>
    <h2>Esse projeto tem como escopo demonstrar como funciona o cadastro de itens com uma API Web + Entity Framework.</h2>
   
   
</div>
